* {
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid white;
    border-radius: 15px;
    width: 85%;
}

#main-heading {
    color: white;
    padding: 0 30px;
    font-size: 2rem;
}

#movie-container {
    margin-bottom: 30px;
}

.movie {
    background-color: white;
    color: darkslategray;
    padding: 5px;
    margin: 2px 0;
    font-size: 2rem;
}   